@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./fonts/montserrat/Montserrat-Regular.ttf');
  src: url('./fonts/montserrat/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat-Regular', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
